<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HrtzCraft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HrtzCraft.Properties.Settings>
            <setting name="Ui_SideBarWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ui_ConsoleInputBarHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ui_WindowPosTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ui_WindowPosLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ui_WindowWidth" serializeAs="String">
                <value>950</value>
            </setting>
            <setting name="Ui_WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="PlayerList_ShowBannedPlayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerList_ShowWhitelistedPlayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerList_ShowOpPlayers" serializeAs="String">
                <value>True</value>
            </setting>
        </HrtzCraft.Properties.Settings>
    </userSettings>
</configuration>